# Build and Release Folders
Debug/
aPM12Tool/Debug/
Release/
aPM12Tool/Release/

# Other files and folders
aPM12Tool.sdf

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
